body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 40px;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.search-container, .result-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
}

.search-container form, .result-container p {
    margin: 20px 0;
    text-align: center;
}

input[type="text"], select {
    padding: 10px;
    margin: 20px 10px 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(70% - 20px);
}

button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(30% - 20px);
    margin: 20px 0;
}

.search-container form {
    margin: 40px 0;
    text-align: center;
}


button:hover {
    background-color: #0056b3;
}

.home-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    width: auto;
}

.home-link:hover {
    background-color: #0056b3;
}
